body {
  margin: 0;
  padding-left: calc(100vw - 100%);
  background: rgb(75, 54, 208);
  background: linear-gradient(90deg, #4b36d0, #5536d0 66%, rgb(92 43 241) 101%);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

* {
  font-family: "Sarabun", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

audio {
  width: 100%;
  filter: drop-shadow(1px 2px 2px rgb(68, 68, 68));
}

.container {
  display: flex;
  direction: column;
  align-content: space-between;
  max-width: 1120px;
  min-height: 100vh;
  padding-bottom: 10rem;
  margin: auto;
}

.form {
  width: 100%;
  height: 100%;
}

.input {
  margin: 2rem auto 2rem;
  width: 80vw;
  display: block;
  border-radius: 8px;
  height: 3rem;
  font-size: 1.4rem;
  padding-left: 12px;
  box-shadow: 3px 4px 3px black;
}

.button {
  background-color: #ffad42;
  box-shadow: 0px 4px 1px 0px #050505;
  color: rgb(0, 0, 0);
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  color: black;
  font-size: 2rem;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: 0px -1px 0px 0px #050505;
  top: 5px;
}

.message {
  display: block;
  width: 60%;
  height: 2rem;
  background-color: orange;
  border-radius: 1rem;
  margin: 1rem auto 1rem;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  text-decoration: underline;
}

.audioContainer {
  will-change: transform;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: -100vh;
  z-index: 1;
  padding: 1rem 1rem;
  background-color: #48adff66;
  transform: translateY(-8rem);
  box-shadow: 0px 2px 9px 0px rgb(27 27 27);
  backdrop-filter: blur(2px);
}

.audioPlayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.closed {
  transform: translateY(0vh);
}

.opened {
  animation: slideIn 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    box-shadow: none;
    backdrop-filter: none;
    transform: translateY(-15vh);
  }
  99% {
    transform: translateY(-100vh);
    box-shadow: none;
    backdrop-filter: none;
  }
  100% {
    transform: translateY(-100vh);
    box-shadow: 0px 2px 9px 0px rgb(27 27 27);
    backdrop-filter: blur(30px);
  }
}

.audioButton.close.expanded {
  transition: transform 1s;
  transform: rotate(0deg);
}

.audioButton {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transform: rotate(180deg);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.loading.array {
  display: flex;
  align-items: flex-start;
}

.loading.array img {
  width: 15rem;
  height: 15rem;
}

.loading img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.audioControls {
  max-width: 24rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.controlsContainer {
}

.controlsContainer > * {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

a {
  background-color: rgb(255 124 0);
  box-shadow: 0 5px 0 darkred;
  color: rgb(0, 0, 0);
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  color: black;
  font-size: 2rem;
}

a:hover {
  background-color: #ce0606;
}

a:active {
  box-shadow: none;
  top: 5px;
}

.card {
  will-change: transform;
  width: 16.6rem;
  height: 20.6rem;
  margin: 0 0.3rem 1rem;
  padding: 0.3rem;
  background-color: rgb(199, 61, 61);
  box-shadow: 1px 2px 2px 1px rgb(27 27 27);
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(0.99);
  border-radius: 7px;
}

.card:hover {
  transform: scale(1);
  box-shadow: 1px 2px 4px 1px rgb(27 27 27 / 78%);
}

.card.channel {
  display: block;
  background-color: #f1a12b;
  align-items: center;
}

.card.channel .thumbnail {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: 0.5rem auto 0;
}

.card.channel .descContainer {
  margin-top: 1.8rem;
}

.card.channel p {
  width: fit-content;
  max-width: 14rem;
  margin: auto;
}

.cardContainer {
  margin: 2rem 0.3rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card .thumbnail {
  cursor: pointer;
  height: 12rem;
  width: 16rem;
  border-radius: 5px;
}

.card .thumbnail img {
  object-fit: cover;
}

.descContainer {
  padding: 0 0.6rem 0;
}

.desc.title {
  font-weight: 600;
}

.desc.channelName {
  max-width: 10rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.channelDescAndPlaylist {
  display: flex;
  justify-content: space-between;
}

.channelDesc {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.addToPlaylistIcon {
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 3px;
  cursor: pointer;
  width: 33px;
  height: 33px;
}

.addToPlaylistIcon:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.descContainer .metadata {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.metadata p {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.authorThumbnail {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  margin-right: 0.5rem;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: 1rem auto 0;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
}

#customers tbody tr {
  background-color: #ff000000;
  transition: background-color 0.05s;
}

#customers tbody tr:hover {
  cursor: pointer;
  background-color: #ff00003b;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
