<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <style>
          body {
              margin: 0;
          }

          video {
                  width: 100%;
                  height: 100%;
                }
        </style>
    </head>
    <body>
        <video controls="" autoplay="" name="media">
            <source src=<%= url %> type="audio/webm">
        </video>
    </body>
</html>