/*.settings {
  padding-left: 1rem;
  /*comment out margin-top, added padding-top*/
/* margin-top: 1rem;*/
/* padding-top: 1rem;*/
/*change on height*/
/* height: 100%;
}
*/

/*change of background*/
/*body .settings {
  background: #c7c7c7;
}
*/

/*
h2 {
  color: #202220;
}
  */
/*
.settings button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 2rem;

  will-change: transform;
  border: none;
  text-decoration: none;
  outline: none;
  border: none;
  /*background: #dc962e;
  background-color: #393838;

  font-weight: 500;

  border-radius: 3px;
  box-shadow: 1px 1px 2px black;
  transition: box-shadow 0.2s;
  margin-bottom: 1rem;
}
  */
/*
.settings button span {
  position: relative;
  top: -3px;

  font-size: 1.2rem;
  line-height: 1.2rem;
  width: 0;
  transition: width 0.3s;
  overflow: hidden;
  white-space: nowrap;
}

*/

/*
.settings button:hover span {
  width: 5rem;
}

.settings button:hover {
  box-shadow: 2px 1px 5px black;
}
*/
