[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/repos/fent/node-ytdl-core/releases/latest",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/112204190",
            "assets_url": "https://api.github.com/repos/fent/node-ytdl-core/releases/112204190/assets",
            "upload_url": "https://uploads.github.com/repos/fent/node-ytdl-core/releases/112204190/assets{?name,label}",
            "html_url": "https://github.com/fent/node-ytdl-core/releases/tag/v4.11.5",
            "id": 112204190,
            "author": {
                "login": "github-actions[bot]",
                "id": 41898282,
                "node_id": "MDM6Qm90NDE4OTgyODI=",
                "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/github-actions%5Bbot%5D",
                "html_url": "https://github.com/apps/github-actions",
                "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
                "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
                "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
                "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
                "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
                "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
                "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
                "type": "Bot",
                "site_admin": false
            },
            "node_id": "RE_kwDOAUWE8M4GsBme",
            "tag_name": "v4.11.5",
            "target_commitish": "master",
            "name": "v4.11.5",
            "draft": false,
            "prerelease": false,
            "created_at": "2023-07-14T05:23:52Z",
            "published_at": "2023-07-14T05:26:45Z",
            "assets": [],
            "tarball_url": "https://api.github.com/repos/fent/node-ytdl-core/tarball/v4.11.5",
            "zipball_url": "https://api.github.com/repos/fent/node-ytdl-core/zipball/v4.11.5",
            "body": "## [4.11.5](https://github.com/fent/node-ytdl-core/compare/v4.11.4...v4.11.5) (2023-07-14)\n\n\n### Bug Fixes\n\n* remove n-transform function name ambiguity ([#1242](https://github.com/fent/node-ytdl-core/issues/1242)) ([e1ebdf9](https://github.com/fent/node-ytdl-core/commit/e1ebdf992437968a2a0a6304b92ab2f442792f29))\n\n\n\n"
        },
        "rawHeaders": [
            "GitHub.com",
            "Sat, 29 Jul 2023 11:47:28 GMT",
            "public, max-age=60, s-maxage=60",
            "Last-Modified",
            "Fri, 14 Jul 2023 05:26:45 GMT",
            "x-github-api-version-selected",
            "2022-11-28",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "0",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "Content-Type",
            "application/json; charset=utf-8",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag",
            "W/\"aeb2329594e6baab5f027dd9572d6575e1d8c4c9103493cb235d577806cadaf5\"",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "58",
            "X-RateLimit-Reset",
            "1690634510",
            "X-RateLimit-Resource",
            "core",
            "X-RateLimit-Used",
            "2",
            "bytes",
            "2164",
            "4C6C:0F78:2E4686C:2EDAD9F:64C4FC54",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://www.youtube.com:443",
        "method": "GET",
        "path": "/watch?v=eJRvRM9wfdE&hl=en",
        "body": "",
        "status": 200,
        "response": "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial, sans-serif;\" lang=\"en\" system-icons typography typography-spacing darker-dark-theme darker-dark-theme-deprecate><head><script data-id=\"_gd\" nonce=\"EwnVk44hhXmAIEl-4extBg\">window.WIZ_global_data = {\"MuJWjd\":true,\"nQyAE\":{},\"oxN3nb\":{\"1\":false}};</script><meta http-equiv=\"origin-trial\" content=\"ApvK67ociHgr2egd6c2ZjrfPuRs8BHcvSggogIOPQNH7GJ3cVlyJ1NOq/COCdj0+zxskqHt9HgLLETc8qqD+vwsAAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2OTUxNjc5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"/><script nonce=\"EwnVk44hhXmAIEl-4extBg\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.[...]
