[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/repos/fent/node-ytdl-core/releases/latest",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/61063876",
            "assets_url": "https://api.github.com/repos/fent/node-ytdl-core/releases/61063876/assets",
            "upload_url": "https://uploads.github.com/repos/fent/node-ytdl-core/releases/61063876/assets{?name,label}",
            "html_url": "https://github.com/fent/node-ytdl-core/releases/tag/v4.11.0",
            "id": 61063876,
            "author": {
                "login": "github-actions[bot]",
                "id": 41898282,
                "node_id": "MDM6Qm90NDE4OTgyODI=",
                "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/github-actions%5Bbot%5D",
                "html_url": "https://github.com/apps/github-actions",
                "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
                "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
                "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
                "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
                "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
                "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
                "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
                "type": "Bot",
                "site_admin": false
            },
            "node_id": "RE_kwDOAUWE8M4Do8LE",
            "tag_name": "v4.11.0",
            "target_commitish": "master",
            "name": "v4.11.0",
            "draft": false,
            "prerelease": false,
            "created_at": "2022-03-05T14:56:28Z",
            "published_at": "2022-03-05T14:57:24Z",
            "assets": [],
            "tarball_url": "https://api.github.com/repos/fent/node-ytdl-core/tarball/v4.11.0",
            "zipball_url": "https://api.github.com/repos/fent/node-ytdl-core/zipball/v4.11.0",
            "body": "# [4.11.0](https://github.com/fent/node-ytdl-core/compare/v4.10.1...v4.11.0) (2022-03-05)\n\n\n### Bug Fixes\n\n* `videoDetails.age_restricted` is always `false` in other languages ([#986](https://github.com/fent/node-ytdl-core/issues/986)) ([21bc728](https://github.com/fent/node-ytdl-core/commit/21bc728b5220a9f84f0626edca9675f286343390))\n* trim id's passed to the url-utils ([#1073](https://github.com/fent/node-ytdl-core/issues/1073)) ([b35bdad](https://github.com/fent/node-ytdl-core/commit/b35bdad3be90e32d3f2c4546c01d69082d691962))\n\n\n### Features\n\n* add IPv6 block rotating ([#713](https://github.com/fent/node-ytdl-core/issues/713)) ([06f5611](https://github.com/fent/node-ytdl-core/commit/06f5611817a7a8acd41e2bc6284c979d9bd8e8cd))\n\n\n\n",
            "reactions": {
                "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/61063876/reactions",
                "total_count": 2,
                "+1": 0,
                "-1": 0,
                "laugh": 0,
                "hooray": 2,
                "confused": 0,
                "heart": 0,
                "rocket": 0,
                "eyes": 0
            }
        },
        "rawHeaders": [
            "GitHub.com",
            "Mon, 01 Aug 2022 11:06:31 GMT",
            "public, max-age=60, s-maxage=60",
            "Last-Modified",
            "Sat, 05 Mar 2022 14:57:24 GMT",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "0",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "Content-Type",
            "application/json; charset=utf-8",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag",
            "W/\"6ecf48ea12d8ff45ecb39be6de6f274ea121ef15f2960697178fad17d99530cc\"",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "59",
            "X-RateLimit-Reset",
            "1659355597",
            "X-RateLimit-Resource",
            "core",
            "X-RateLimit-Used",
            "1",
            "bytes",
            "2780",
            "706B:CA17:74456:81653:62E7B3BD",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://www.youtube.com:443",
        "method": "GET",
        "path": "/watch?v=eJRvRM9wfdE&hl=en",
        "body": "",
        "status": 200,
        "response": "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial, sans-serif;\" lang=\"en\" system-icons typography typography-spacing><head><meta http-equiv=\"origin-trial\" content=\"At2B4ABoBE3kiyFJp5tVx/Zi81HAk2cn2zjA0NcVurqsrwLHavE/fe86HDn71lPLg+o1Rf7jkyRD7QdT4TS8+g0AAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2NjEyOTkxOTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"/><script nonce=\"ApDUvUwwdAEaYKhjL_hSvw\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL', '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20220728.09.00');</script><script nonce=\"ApDUvUwwdAEaYKhjL_hSvw\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else if(message.indexOf(\"redefine non-configurable\")>=0)thirdPartyScript=true;var baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");var unsupported=message.indexOf(\"w[...]
    {
        "scope": "https://www.youtube.com:443",
        "method": "GET",
        "path": "/s/player/c8b8a173/player_ias.vflset/en_US/base.js",
        "body": "",
        "status": 200,
        "response": "var _yt_player={};(function(g){var window=this;/*\n\n Copyright The Closure Library Authors.\n SPDX-License-Identifier: Apache-2.0\n*/\n'use strict';var aa,baa,caa,fa,daa,eaa,ha,ia,la,ma,na,iaa,jaa,va,wa,kaa,laa,maa,Aa,Ca,Da,Ea,Ja,Ka,oaa,paa,Va,raa,Wa,Xa,saa,Ya,taa,xaa,$a,yaa,eb,gb,jb,s[...]
