[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/repos/fent/node-ytdl-core/releases/latest",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/112204190",
            "assets_url": "https://api.github.com/repos/fent/node-ytdl-core/releases/112204190/assets",
            "upload_url": "https://uploads.github.com/repos/fent/node-ytdl-core/releases/112204190/assets{?name,label}",
            "html_url": "https://github.com/fent/node-ytdl-core/releases/tag/v4.11.5",
            "id": 112204190,
            "author": {
                "login": "github-actions[bot]",
                "id": 41898282,
                "node_id": "MDM6Qm90NDE4OTgyODI=",
                "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/github-actions%5Bbot%5D",
                "html_url": "https://github.com/apps/github-actions",
                "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
                "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
                "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
                "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
                "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
                "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
                "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
                "type": "Bot",
                "site_admin": false
            },
            "node_id": "RE_kwDOAUWE8M4GsBme",
            "tag_name": "v4.11.5",
            "target_commitish": "master",
            "name": "v4.11.5",
            "draft": false,
            "prerelease": false,
            "created_at": "2023-07-14T05:23:52Z",
            "published_at": "2023-07-14T05:26:45Z",
            "assets": [],
            "tarball_url": "https://api.github.com/repos/fent/node-ytdl-core/tarball/v4.11.5",
            "zipball_url": "https://api.github.com/repos/fent/node-ytdl-core/zipball/v4.11.5",
            "body": "## [4.11.5](https://github.com/fent/node-ytdl-core/compare/v4.11.4...v4.11.5) (2023-07-14)\n\n\n### Bug Fixes\n\n* remove n-transform function name ambiguity ([#1242](https://github.com/fent/node-ytdl-core/issues/1242)) ([e1ebdf9](https://github.com/fent/node-ytdl-core/commit/e1ebdf992437968a2a0a6304b92ab2f442792f29))\n\n\n\n"
        },
        "rawHeaders": [
            "GitHub.com",
            "Sat, 12 Aug 2023 08:57:00 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "W/\"aeb2329594e6baab5f027dd9572d6575e1d8c4c9103493cb235d577806cadaf5\"",
            "Last-Modified",
            "Fri, 14 Jul 2023 05:26:45 GMT",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "x-github-api-version-selected",
            "2022-11-28",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "0",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "56",
            "X-RateLimit-Reset",
            "1691833094",
            "X-RateLimit-Resource",
            "core",
            "X-RateLimit-Used",
            "4",
            "bytes",
            "2164",
            "1D5B:D8F2:2560AA1:25E12C5:64D7495C",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://www.youtube.com:443",
        "method": "GET",
        "path": "/watch?v=eJRvRM9wfdE&hl=en",
        "body": "",
        "status": 200,
        "response": "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial, sans-serif;\" lang=\"en\" system-icons typography typography-spacing darker-dark-theme darker-dark-theme-deprecate><head><script data-id=\"_gd\" nonce=\"rI5Rtkvq8-fZuAvezEFfUA\">window.WIZ_global_data = {\"MuJWjd\":true,\"nQyAE\":{},\"oxN3nb\":{\"1\":false}};</script><meta http-equiv=\"origin-trial\" content=\"ApvK67ociHgr2egd6c2ZjrfPuRs8BHcvSggogIOPQNH7GJ3cVlyJ1NOq/COCdj0+zxskqHt9HgLLETc8qqD+vwsAAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2OTUxNjc5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"/><script nonce=\"rI5Rtkvq8-fZuAvezEFfUA\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.[...]
    {
        "scope": "http://127.0.0.1:58027",
        "method": "POST",
        "path": "/api/info/youtube",
        "body": {
            "id": "eJRvRM9wfdE"
        },
        "status": 200,
        "response": {
            "id": "eJRvRM9wfdE",
            "url": "https://www.youtube.com/watch?v=eJRvRM9wfdE",
            "title": "Deeper Minds | Deep House & Dub Techno Mix By Johnny M | Superordinate Dub Waves",
            "thumbnails": [
                {
                    "url": "https://i.ytimg.com/vi/eJRvRM9wfdE/hqdefault.jpg?sqp=-oaymwE1CKgBEF5IVfKriqkDKAgBFQAAiEIYAXABwAEG8AEB-AHUBoAC4AOKAgwIABABGHIgNShtMA8=&rs=AOn4CLAuKcTOfVyAzx65UKn4xdrpbB53eQ",
                    "width": 168,
                    "height": 94
                },
                {
                    "url": "https://i.ytimg.com/vi/eJRvRM9wfdE/hqdefault.jpg?sqp=-oaymwE1CMQBEG5IVfKriqkDKAgBFQAAiEIYAXABwAEG8AEB-AHUBoAC4AOKAgwIABABGHIgNShtMA8=&rs=AOn4CLAQKvvH62uY3O2Da5SkORKT-eD-MQ",
                    "width": 196,
                    "height": 110
                },
                {
                    "url": "https://i.ytimg.com/vi/eJRvRM9wfdE/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB1AaAAuADigIMCAAQARhyIDUobTAP&rs=AOn4CLDjyzakfCy_85VS1jQJVE8SYy0iNw",
                    "width": 246,
                    "height": 138
                },
                {
                    "url": "https://i.ytimg.com/vi/eJRvRM9wfdE/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB1AaAAuADigIMCAAQARhyIDUobTAP&rs=AOn4CLAYLAlcwOtojjG5eI_coXHvWpCagg",
                    "width": 336,
                    "height": 188
                },
                {
                    "url": "https://i.ytimg.com/vi/eJRvRM9wfdE/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGHIgNShtMA8=&rs=AOn4CLAgPS7YIlbDTGCA59_TNBwxkNKVqQ",
                    "width": 1920,
                    "height": 1080
                }
            ],
            "duration": "",
            "uploadedAt": "2021-02-02",
            "author": {
                "id": "UChDok1-NlVszac3ES_OOXWQ",
                "name": "Johnny M (GR)",
                "user": "@johnny_m",
                "channel_url": "https://www.youtube.com/channel/UChDok1-NlVszac3ES_OOXWQ",
                "external_channel_url": "https://www.youtube.com/channel/UChDok1-NlVszac3ES_OOXWQ",
                "user_url": "http://www.youtube.com/@johnny_m",
                "thumbnails": [
                    {
                        "url": "https://yt3.ggpht.com/Fv-hnDUvmTIJPn8rQmcCfFQfJ1cHaBsoKgqI9rN2Xnfi76ap21v1fMTVQrrppGmM_zN_eyB7SA=s48-c-k-c0x00ffffff-no-rj",
                        "width": 48,
                        "height": 48
                    },
                    {
                        "url": "https://yt3.ggpht.com/Fv-hnDUvmTIJPn8rQmcCfFQfJ1cHaBsoKgqI9rN2Xnfi76ap21v1fMTVQrrppGmM_zN_eyB7SA=s88-c-k-c0x00ffffff-no-rj",
                        "width": 88,
                        "height": 88
                    },
                    {
                        "url": "https://yt3.ggpht.com/Fv-hnDUvmTIJPn8rQmcCfFQfJ1cHaBsoKgqI9rN2Xnfi76ap21v1fMTVQrrppGmM_zN_eyB7SA=s176-c-k-c0x00ffffff-no-rj",
                        "width": 176,
                        "height": 176
                    }
                ],
                "verified": false,
                "subscriber_count": 150000
            },
            "views": "94766",
            "type": "video",
            "engine": "youtube"
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "2103",
            "ETag",
            "W/\"837-4n9USQ+6+H9l2SRv2zQgIsDiUC4\"",
            "Sat, 12 Aug 2023 08:57:01 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]