[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "758fcb4ec33010457f65e415954294b620a0bb76532141d7482142133fe2c1ae0d7e340d887f07b1a180bc9c3967aeee8ce4841febc1fbc1ca1a79adcf5a46c23c4ba5649858d5fe1e9baabd9c2fbaae3a5d439a5e24f412d3b7b06cfe72e1dd636e9ac5558214724c709af75f3fe2816480315b5530923c622c3054e9eb58fb1c4a466f911b88fb1c4af99a12ec25280ab1f493f621506f65a9a146674a051439749cd002922838dec1806e28509eb92fa051638a8060c192f9a9d755efccb0d5bc62af6cc56e6ec5e1fe1aa7ed7223f2dd797e7b78daad69b7d6db0bf6d1cd3e01ac",
            "23943d17020000"
        ],
        "rawHeaders": [
            "Sun, 31 Dec 2023 20:30:34 GMT",
            "Sun, 31 Dec 2023 20:30:34 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce--z7-dBaSMfNm6g6Wv_8i3w' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+666; expires=Tue, 30-Dec-2025 20:30:34 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:49246",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery",
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery xavier wulf",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery black smurf",
                "idkjeffery hit me first",
                "idkjeffery horrible",
                "idkjeffery thanks",
                "idkjeffery financial aid",
                "idkjeffery on gang",
                "idkjeffery cuco",
                "idkjeffery whats a l like"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "347",
            "ETag",
            "W/\"15b-NhOzx69I7iO4OT1IcmO4FzwyLMw\"",
            "Sun, 31 Dec 2023 20:30:34 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]