[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00000002ff758fbb4e033110457f65e48a48d66a936889c807d0a4a04bb3acd0acdfb163073ff046887f07d110402e67ce99ab3bd5781e6aa742504e74c83a7d3712c3ed494829e295d0f1f7d8d371586fa689deae215f2f026681f95bd8f67f390ffeb9f4fd669721c79232dce6fdd7177c3322422d4e368c2c164c0d86327f1deb5062cb981d320be95c622b5f9b0c6701d2c4d4fa498718cdec44aba1466f5b05a4f1e89941076878c3091e147ad5a0acb0d04055634e80e0c019fb536fa2efc492fd9a9257b2270f4ff7bbb8758f475b8e5c2b95fcf07258ea7060957c4cab4f4bce2b8917020000"
        ],
        "rawHeaders": [
            "Sun, 07 Jan 2024 16:40:22 GMT",
            "Sun, 07 Jan 2024 16:40:22 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-lsTSLgILnA5xm8PM7cf2rA' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+836; expires=Tue, 06-Jan-2026 16:40:22 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:49762",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery",
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery xavier wulf",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery black smurf",
                "idkjeffery hit me first",
                "idkjeffery horrible",
                "idkjeffery thanks",
                "idkjeffery financial aid",
                "idkjeffery on gang",
                "idkjeffery cuco",
                "idkjeffery whats a l like"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "347",
            "ETag",
            "W/\"15b-NhOzx69I7iO4OT1IcmO4FzwyLMw\"",
            "Sun, 07 Jan 2024 16:40:22 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]