[
    {
        "scope": "https://clients1.google.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "75",
            "d0",
            "51",
            "4b",
            "c3",
            "30",
            "10",
            "c0",
            "f1",
            "af12f2e42094ae2feabec2c4b721b316b92697f69634d1245d57c4efee9e6482f7187e7fb8bb2c144c5caa21c6c16305ba1aef5a49c69dd05a4cab54eded5394f503458f50a4aa55bb7dec3af5c72f70264c6299bd650a13c3db5cd7cd7d1125cdb988df49ffe6052f9019035baeb3c63827ae3094391a634ad47be4988a9850584a99bb150c4c4dc3a09e7564c85280a009bc00324c43215f7f67c250c033498e0618ea3d68e7e966f34e7d4927775b253fe54efaf55937707a180fe0f0c5ed5f8ffbe1fc0e87f8a4e577b7f901b7450c4314020000"
        ],
        "rawHeaders": [
            "Thu, 13 Jan 2022 02:06:25 GMT",
            "Thu, 13 Jan 2022 02:06:25 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+476; expires=Sat, 13-Jan-2024 02:06:25 GMT; path=/; domain=.google.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:39101",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery type beat",
                "idkjeffery xavier wulf",
                "idkjeffery don't trust jeffery",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery diss",
                "idkjeffery horrible",
                "idkjeffery hit me first",
                "idkjeffery adam22",
                "idkjeffery cuco",
                "idkjeffery financial aid",
                "idkjeffery instrumental",
                "idkjeffery soda",
                "idkjeffery blacklist"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "345",
            "ETag",
            "W/\"159-f7QvURRwWWWywqJ/utUz2ZYSEjM\"",
            "Thu, 13 Jan 2022 02:06:23 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]