[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "75",
            "8e",
            "31",
            "4f",
            "c3301085ffcac913485694b6434547106317ba2042864b7c8e8f049b5eeca615e2bfc3848ac48da7efdd7bdfc2d1a5a51a521a26aab0afc24d63d88d6fe43dc9c5d8e6fa84339e9804963279636bdbaceedad6fe49e4cb0741479815ee527c2d75bdde66c852e60cbf4bffd7d1196785a1cf3f2e2115d1128e670d05cef04ee059664db52f7dd2be9308771329382690d275a48a798e187bc609909d9219f8449003cdda4ac0805abf10c182de5f29b6f6d38c66b7b2e66876e6209b5a023e6f9ec607da86fdb1dca7c5bb97f1716fbedadb6f13fca20a18020000"
        ],
        "rawHeaders": [
            "Mon, 01 Aug 2022 11:06:37 GMT",
            "Mon, 01 Aug 2022 11:06:37 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+591; expires=Wed, 31-Jul-2024 11:06:37 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:52957",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery xavier wulf",
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery diss",
                "idkjeffery hit me first",
                "idkjeffery cuco",
                "idkjeffery horrible",
                "idkjeffery no rubbers",
                "idkjeffery financial aid",
                "idkjeffery give these",
                "idkjeffery haha",
                "idkjeffery free waffle"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "349",
            "ETag",
            "W/\"15d-QWuD0aMiLY27XW51inFgLh0UigQ\"",
            "Mon, 01 Aug 2022 11:06:37 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]