[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "75915d4bc3301486ffca21570ab1641b32d89d830db7dd0b5a7b719a264dd6b499f9b02be27f37280c95e5323c0fe47ddf33eaa1b163d15adb1a51202fd44d4974d31d8594c24d8496bf9fa05021a18c96f7b37955d13f2c4c2701b5c0f02d2cd87f7ec6772d1c8cd1c88cd1d8e13532365f06082efa00971457f520cee8330c65487f291b5dce50d6395d1b91c13c729b412d0ead0f08b5cd19b541de81efa3cb551d15060f08068cee7219f4904aa4d1c65c46e5b44f53a5613d34dae7aaca9fdbf4d16b7e512afa413ab29a51f246",
            "56a4dfec1fb7ebe5cbeec0b64f8be38391d3ddf361dd84dd867c56b75f76145b0527020000"
        ],
        "rawHeaders": [
            "Mon, 03 Apr 2023 16:55:39 GMT",
            "Mon, 03 Apr 2023 16:55:39 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-5KmeIp7p0vfo-r1CIXwMYQ' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+472; expires=Wed, 02-Apr-2025 16:55:39 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:54285",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery haha",
                "idkjeffery type beat",
                "idkjeffery xavier wulf",
                "idkjeffery don't trust jeffery",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery horrible",
                "idkjeffery cuco",
                "idkjeffery gangsta boo",
                "idkjeffery black smurf",
                "idkjeffery whats a l like",
                "idkjeffery interview",
                "idkjeffery chris travis diss",
                "idkjeffery f type music"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "363",
            "ETag",
            "W/\"16b-dd2vHWgb+ZgiYdUz4WTWeYl5dCw\"",
            "Mon, 03 Apr 2023 16:55:39 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]