[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08000000000002ff2bcfcc4bc92fd74bcfcf4fcf49d54b4cd6cbd08856ca4cc9ce4a4d4b4b2daa54d2898ed5a956ca56b232d4512a54b252f24a4ec935c8d1f5f1f5762ff54bf6cf2f0f704a8f72333032743451aa8dd504007a53d18d4f000000"
        ],
        "rawHeaders": [
            "Sat, 12 Aug 2023 08:57:02 GMT",
            "Sat, 12 Aug 2023 08:57:02 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-MvfdSMv9iAhJIfoVbwiqoA' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+892; expires=Mon, 11-Aug-2025 08:57:02 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:58031",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": []
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "23",
            "ETag",
            "W/\"17-kJz0fUXU7mU8fdBJIEYUYD0UPxk\"",
            "Sat, 12 Aug 2023 08:57:02 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]