[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "000002ff7dd03d4fc4300c06e0bf62650229aada4a807a3337233e2486d2c1cd47139a263471e8dd21fe3bb0206e20a3e5c7af656fd6cbb05553089353158aca5cf4cccaf95569ade291f1fe6f09747c53302a24c66bde371dbf6ada61e0674606ff92ebbabd21a09813c16fd6bf23077cb72ac2969d2e2852074c853e6afa0e3121c79232966051a06d4ca52b4c88d18e4e1588c82214dada7af4c2a203b4b2e036839400c181b373699f544bf089225249050f13faa92046876286b4e458fab6fd599517e509dd191bf8079bd9aee16c653bb63e35a84fd7f23969dde5bd191f70ed4eededdde33dfb1c2ebf00b6f7b9",
            "7a60020000"
        ],
        "rawHeaders": [
            "Sun, 30 Jul 2023 10:54:50 GMT",
            "Sun, 30 Jul 2023 10:54:50 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-R9h7JpvAIsvqTZ5zFvVe0g' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+479; expires=Tue, 29-Jul-2025 10:54:50 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:63548",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery xavier wulf",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery hit me first",
                "idkjeffery horrible",
                "idkjeffery cuco",
                "idkjeffery financial aid",
                "idkjeffery whats a l like",
                "idkjeffery demonstrate",
                "idkjeffery on gang",
                "idkjeffery black smurf",
                "idkjeffery instrumental"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "365",
            "ETag",
            "W/\"16d-2UPFo066e5emzV6G6n7VeQugz/A\"",
            "Sun, 30 Jul 2023 10:54:50 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]