[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "7d",
            "d0",
            "4d",
            "4b",
            "c4",
            "30",
            "10",
            "06",
            "e0",
            "bf",
            "32e4a4104bbbb0887b13a482178f0ab5c8341f6dda34719389d922fe77f522eec11c8779e61d66b271d2e76af47eb4aa42514d171d33729995d62a6c8c777f4ba0ed4dc1a09018af79d7dcf07db3eb7b7e66a4772fa9ae77d704145224f8cdfa",
            "77e484ef4605c8c9ea822275c258e8a3a6ef90c9a7505293215815681362e98ac9876006ab0a4424e10b6d6d1c3a61d0021a597079428a8060c19aa5b44faad5bb4801a9a4bc8311dd58108345b1405c53287ddbfcac4aab7284f68cf5fc832decd070766407d6c6e3fee97ebe1bdb0791e7c72604b9e9f6eaf6f539b3cffef20b2ee019a560020000"
        ],
        "rawHeaders": [
            "Sat, 29 Jul 2023 11:47:32 GMT",
            "Sat, 29 Jul 2023 11:47:32 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-DmEWmjvnEnAbHtoxB_j-9g' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+022; expires=Mon, 28-Jul-2025 11:47:32 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:60768",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery xavier wulf",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery hit me first",
                "idkjeffery horrible",
                "idkjeffery cuco",
                "idkjeffery financial aid",
                "idkjeffery whats a l like",
                "idkjeffery demonstrate",
                "idkjeffery on gang",
                "idkjeffery black smurf",
                "idkjeffery instrumental"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "365",
            "ETag",
            "W/\"16d-2UPFo066e5emzV6G6n7VeQugz/A\"",
            "Sat, 29 Jul 2023 11:47:32 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]