[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "000002ff758ec14ac43010407f65c849a194ee8a087bd3e39e048fb5c8b49d34d364134d26b655fc77c583ac4a8e99f766f216f66358ea2984c9518d436d2e5ac5a39d496b8a9baadadfcfa66aaf77fbaeabcec720db33414f28dfc255f3978fc13fe6a6d9df0848cc49e0fcde7f7dc557a6084b76ba6008ad980a0cb57c2d9b9063c9302c7022d01c53a9b877385848a71c4b0926c4c8bda352a1416f4b019a3dfa81d101f2587016839200c181635bfa257898d04f053ae421fca0ae7a57561d76957a510735c7ed2d3cccee6ec9bd264494e353b3decf24b7eaa3bbfc04d7fa71a917020000"
        ],
        "rawHeaders": [
            "Sun, 12 Nov 2023 21:42:13 GMT",
            "Sun, 12 Nov 2023 21:42:13 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-mnGoCLuiREtXuVio34Z32w' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+883; expires=Tue, 11-Nov-2025 21:42:13 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:50548",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery",
                "idkjeffery type beat",
                "idkjeffery don't trust jeffery",
                "idkjeffery xavier wulf",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery hit me first",
                "idkjeffery black smurf",
                "idkjeffery horrible",
                "idkjeffery thanks",
                "idkjeffery financial aid",
                "idkjeffery whats a l like",
                "idkjeffery on gang",
                "idkjeffery cuco"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "347",
            "ETag",
            "W/\"15b-JL4oc2KJ5uxe8ema9DgQNZC1kIU\"",
            "Sun, 12 Nov 2023 21:42:13 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]