[
    {
        "scope": "https://suggestqueries-clients6.youtube.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00000002ff7d91cd4bc43010c5ff9521278550fa812cecd183a7dd9b22588b4cd2a4894d1b371fb68bf8bf1b1464159ae3f07ec3bcf766d1736f9762b07630a2405ea8ab96e87e7c15520a7726b4bd1c41a142424bda560dbda9eaaea37fe4707e13c004866fa62969d5fc47567cd7c2c1128ddc867a3b3fc7b2ac7701828b3ec0af9dad8d2056f4db32ca908e2a1b5d0652d639cd8cd82678e4765b1d701e7c4060360331837c043f4597c9bf280c1e100c183d66fce839c54a7d2e19cbca699f5a4cb57be8b5cfe4973fff9ba2d7fc92eae80719c9bea2e444f6844dec68d8ed6157aaa76a7e3cdd3dac75b8572f4c1ec96777fd051f21467251020000"
        ],
        "rawHeaders": [
            "Mon, 03 Apr 2023 15:17:33 GMT",
            "Mon, 03 Apr 2023 15:17:33 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "object-src 'none';base-uri 'self';script-src 'nonce-hUigEFe846ykTFdagbibVA' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other",
            "same-origin-allow-popups; report-to=\"gws\"",
            "{\"group\":\"gws\",\"max_age\":2592000,\"endpoints\":[{\"url\":\"https://csp.withgoogle.com/csp/report-to/gws/other\"}]}",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+709; expires=Wed, 02-Apr-2025 15:17:33 GMT; path=/; domain=.youtube.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:61861",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery haha",
                "idkjeffery type beat",
                "idkjeffery xavier wulf",
                "idkjeffery don't trust jeffery",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery horrible",
                "idkjeffery cuco",
                "idkjeffery gangsta boo",
                "idkjeffery black smurf",
                "idkjeffery whats a l like",
                "idkjeffery interview",
                "idkjeffery chris travis diss",
                "idkjeffery f type music"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "363",
            "ETag",
            "W/\"16b-dd2vHWgb+ZgiYdUz4WTWeYl5dCw\"",
            "Mon, 03 Apr 2023 15:17:33 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]