[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/tracks/430754811?client_id=atkWGyMg57QFFAwK5c9VpC1N5Q141g7I",
        "body": "",
        "status": 200,
        "response": {
            "artwork_url": "https://i1.sndcdn.com/artworks-000336105762-joygtm-large.jpg",
            "caption": null,
            "commentable": true,
            "comment_count": 209,
            "created_at": "2018-04-16T23:44:40Z",
            "description": "",
            "downloadable": false,
            "download_count": 0,
            "duration": 235598,
            "full_duration": 235646,
            "embeddable_by": "all",
            "genre": "East",
            "has_downloads_left": false,
            "id": 430754811,
            "kind": "track",
            "label_name": null,
            "last_modified": "2021-10-02T14:44:29Z",
            "license": "all-rights-reserved",
            "likes_count": 18790,
            "permalink": "eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "permalink_url": "https://soundcloud.com/christravis/eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "playback_count": 864966,
            "public": true,
            "publisher_metadata": {
                "id": 430754811,
                "urn": "soundcloud:tracks:430754811",
                "contains_music": true,
                "publisher": "Copyright Control",
                "isrc": "QZ67M1902044"
            },
            "purchase_title": null,
            "purchase_url": null,
            "release_date": null,
            "reposts_count": 2145,
            "secret_token": null,
            "sharing": "public",
            "state": "finished",
            "streamable": true,
            "tag_list": "\"Water Boyz\" \"Chris Travis\" IDKJeffery \"Xavier Wulf\"",
            "title": "EastMemphisBoyz - Who Run It Remix (Chris Travis, Ta Double $$, Jeffery, Xavier Wulf)",
            "track_format": "single-track",
            "uri": "https://api.soundcloud.com/tracks/430754811",
            "urn": "soundcloud:tracks:430754811",
            "user_id": 14845235,
            "visuals": null,
            "waveform_url": "https://wave.sndcdn.com/PMRFQgKUwpB0_m.json",
            "display_date": "2018-04-16T23:44:40Z",
            "media": {
                "transcodings": [
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/hls",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "progressive",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/35158143-ec45-40e8-ada2-6f315d91c6b1/stream/hls",
                        "preset": "opus_0_0",
                        "duration": 235567,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/ogg; codecs=\"opus\""
                        },
                        "quality": "sq"
                    }
                ]
            },
            "station_urn": "soundcloud:system-playlists:track-stations:430754811",
            "station_permalink": "track-stations:430754811",
            "track_authorization": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJIUiIsInN1YiI6IiIsInJpZCI6IjBiNzBjZmRiLTNiMjQtNGM1Yy05ZmYxLTkyNDRkYmNkMmFiMiIsImlhdCI6MTY0MTc5NzE5Mn0.WMDrgxHQYTCnYm1GICeHy98odIUVaGcMpHS90ziZN-Y",
            "monetization_model": "NOT_APPLICABLE",
            "policy": "ALLOW",
            "user": {
                "avatar_url": "https://i1.sndcdn.com/avatars-mLxWzWdYIXoFYUai-ciyNlA-large.jpg",
                "first_name": "Chris",
                "followers_count": 288423,
                "full_name": "Chris Travis",
                "id": 14845235,
                "kind": "user",
                "last_modified": "2022-01-07T06:03:22Z",
                "last_name": "Travis",
                "permalink": "christravis",
                "permalink_url": "https://soundcloud.com/christravis",
                "uri": "https://api.soundcloud.com/users/14845235",
                "urn": "soundcloud:users:14845235",
                "username": "ChrisTravis",
                "verified": true,
                "city": "Memphis",
                "country_code": "US",
                "badges": {
                    "pro": false,
                    "pro_unlimited": true,
                    "verified": true
                },
                "station_urn": "soundcloud:system-playlists:artist-stations:14845235",
                "station_permalink": "artist-stations:14845235"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive?client_id=atkWGyMg57QFFAwK5c9VpC1N5Q141g7I",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://cf-media.sndcdn.com/PMRFQgKUwpB0.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vUE1SRlFnS1V3cEIwLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjQxNzk3NTQ4fX19XX0_&Signature=AntDz6Xzq1zQUxQwz4AAvWXD9QdXfnmDsV9y4RswzbGM6i9ZPanbuJQwRXg24VryLkYAtM1qp3o9sn6zoCVueMFXPtT0AGqXl41j1h27pefe2mJpee~RNpgBQxoiRmIP6XJ4vWgXFsqYjbSi6dIPIBIxhNvrD2Vg3hutZVZdS6LRXP9~6nGjiVcDf2DXkeT~wpEMp3K2PI41za~kkuCBsX-pluQuLAQV3i2FqxB3NG3oIp1jjWYeeGO3XTc62rlT~u1vQYr1p-EyaNfKfCVVs-tzJ5sjMAI~CKPPWkPeMG0ENIG1asCZbc7F5nAko68lUWoJMH52OUieewKEmrUewg__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]