[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/repos/fent/node-ytdl-core/releases/latest",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/55422667",
            "assets_url": "https://api.github.com/repos/fent/node-ytdl-core/releases/55422667/assets",
            "upload_url": "https://uploads.github.com/repos/fent/node-ytdl-core/releases/55422667/assets{?name,label}",
            "html_url": "https://github.com/fent/node-ytdl-core/releases/tag/v4.9.2",
            "id": 55422667,
            "author": {
                "login": "github-actions[bot]",
                "id": 41898282,
                "node_id": "MDM6Qm90NDE4OTgyODI=",
                "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/github-actions%5Bbot%5D",
                "html_url": "https://github.com/apps/github-actions",
                "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
                "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
                "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
                "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
                "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
                "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
                "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
                "type": "Bot",
                "site_admin": false
            },
            "node_id": "RE_kwDOAUWE8M4DTa7L",
            "tag_name": "v4.9.2",
            "target_commitish": "master",
            "name": "v4.9.2",
            "draft": false,
            "prerelease": false,
            "created_at": "2021-12-16T06:02:05Z",
            "published_at": "2021-12-16T06:03:05Z",
            "assets": [],
            "tarball_url": "https://api.github.com/repos/fent/node-ytdl-core/tarball/v4.9.2",
            "zipball_url": "https://api.github.com/repos/fent/node-ytdl-core/zipball/v4.9.2",
            "body": "## [4.9.2](https://github.com/fent/node-ytdl-core/compare/v4.9.1...v4.9.2) (2021-12-16)\n\n\n### Bug Fixes\n\n* Direct cipher signature & n-transform functions to circumvent throttling.  ([#1022](https://github.com/fent/node-ytdl-core/issues/1022)) ([2266982](https://github.com/fent/node-ytdl-core/commit/22669827cd38bd62e2f4cf1798142dfac1f34501))\n\n\n\n",
            "reactions": {
                "url": "https://api.github.com/repos/fent/node-ytdl-core/releases/55422667/reactions",
                "total_count": 8,
                "+1": 0,
                "-1": 0,
                "laugh": 0,
                "hooray": 0,
                "confused": 0,
                "heart": 8,
                "rocket": 0,
                "eyes": 0
            }
        },
        "rawHeaders": [
            "GitHub.com",
            "Mon, 10 Jan 2022 08:35:15 GMT",
            "public, max-age=60, s-maxage=60",
            "Last-Modified",
            "Thu, 16 Dec 2021 06:03:05 GMT",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "0",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "Content-Type",
            "application/json; charset=utf-8",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag",
            "W/\"4e125501aa56ce53b132b7520b41c6e821b233c9df6e40b20846c2970bc6feed\"",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "59",
            "X-RateLimit-Reset",
            "1641807317",
            "X-RateLimit-Resource",
            "core",
            "X-RateLimit-Used",
            "1",
            "bytes",
            "2377",
            "5292:7A1F:7487784:767EAF8:61DBEFC5",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://www.youtube.com:443",
        "method": "GET",
        "path": "/watch?v=eJRvRM9wfdE&hl=en",
        "body": "",
        "status": 200,
        "response": "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial, sans-serif;\" lang=\"en\" dark system-icons typography typography-spacing><head><script nonce=\"lvxVzGLkATt3XuHfd0rd0w\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL', '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20220107.00.00');</script><script nonce=\"lvxVzGLkATt3XuHfd0rd0w\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else if(message.indexOf(\"redefine non-configurable\")>=0)thirdPartyScript=true;var baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");var unsupported=message.indexOf(\"w[...]
