[
    {
        "scope": "https://clients1.google.com:443",
        "method": "GET",
        "path": "/complete/search?client=youtube&gs_ri=youtube&ds=yt&q=idkjeffery",
        "body": "",
        "status": 200,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "75d0c14ac4301080e15709392984d21644dc9bd8cb8ae855ac45a6c9643bdb345993d47615dfdd3d2d0ace317c3fcc4c16f2262cc52e849dc30274315cb492ccb8476b311ea56a7f3f453e1e50f40859aa52b5d54dd7a93fbec2076114cbec2c5398e05fe7b2acafb3c8714e599c27fd9b675c213106369f660d618e5c612871348418a977c8316531a1b01413772b1898ea9a413debc090250f5e1338016498867c3afdce843e836392de811e1db1eba560e04c9dfa92a3dc544abecb8dd48f87fdd27c3e55e65e5fbd3563f370b7d62fc66c9f6fe57777f90329e9cac214020000"
        ],
        "rawHeaders": [
            "Wed, 12 Jan 2022 07:25:06 GMT",
            "Wed, 12 Jan 2022 07:25:06 GMT",
            "private, max-age=3600",
            "Content-Type",
            "text/javascript; charset=UTF-8",
            "Content-Disposition",
            "attachment; filename=\"f.txt\"",
            "gzip",
            "gws",
            "0",
            "SAMEORIGIN",
            "CONSENT=PENDING+951; expires=Fri, 12-Jan-2024 07:25:06 GMT; path=/; domain=.google.com; Secure",
            "CP=\"This is not a P3P policy! See g.co/p3phelp for more info.\"",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:44153",
        "method": "POST",
        "path": "/api/suggestions/youtube",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery type beat",
                "idkjeffery xavier wulf",
                "idkjeffery don't trust jeffery",
                "idkjeffery texas",
                "idkjeffery after hours",
                "idkjeffery diss",
                "idkjeffery horrible",
                "idkjeffery hit me first",
                "idkjeffery adam22",
                "idkjeffery cuco",
                "idkjeffery financial aid",
                "idkjeffery instrumental",
                "idkjeffery blacklist",
                "idkjeffery soda"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "345",
            "ETag",
            "W/\"159-7gqIWxw1qFoW+PaMYE48/otAf6Q\"",
            "Wed, 12 Jan 2022 07:25:06 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]