[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/search/queries?q=idkjeffery&limit=10&client_id=atkWGyMg57QFFAwK5c9VpC1N5Q141g7I",
        "body": "",
        "status": 200,
        "response": {
            "collection": [
                {
                    "output": "idkjeffery rape rape",
                    "query": "idkjeffery rape rape"
                },
                {
                    "output": "idkjeffery dont trust jeffery",
                    "query": "idkjeffery dont trust jeffery"
                },
                {
                    "output": "idkjeffery texas",
                    "query": "idkjeffery texas"
                },
                {
                    "output": "idk jeffery",
                    "query": "idk jeffery"
                }
            ],
            "next_href": null,
            "query_urn": "soundcloud:search-autocomplete:0fea42cb98414ce4bcb52f5691d3e8e0"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]