[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/tracks/430754811?client_id=atkWGyMg57QFFAwK5c9VpC1N5Q141g7I",
        "body": "",
        "status": 200,
        "response": {
            "artwork_url": "https://i1.sndcdn.com/artworks-000336105762-joygtm-large.jpg",
            "caption": null,
            "commentable": true,
            "comment_count": 209,
            "created_at": "2018-04-16T23:44:40Z",
            "description": "",
            "downloadable": false,
            "download_count": 0,
            "duration": 235598,
            "full_duration": 235646,
            "embeddable_by": "all",
            "genre": "East",
            "has_downloads_left": false,
            "id": 430754811,
            "kind": "track",
            "label_name": null,
            "last_modified": "2021-10-02T14:44:29Z",
            "license": "all-rights-reserved",
            "likes_count": 18793,
            "permalink": "eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "permalink_url": "https://soundcloud.com/christravis/eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "playback_count": 865307,
            "public": true,
            "publisher_metadata": {
                "id": 430754811,
                "urn": "soundcloud:tracks:430754811",
                "contains_music": true,
                "publisher": "Copyright Control",
                "isrc": "QZ67M1902044"
            },
            "purchase_title": null,
            "purchase_url": null,
            "release_date": null,
            "reposts_count": 2145,
            "secret_token": null,
            "sharing": "public",
            "state": "finished",
            "streamable": true,
            "tag_list": "\"Water Boyz\" \"Chris Travis\" IDKJeffery \"Xavier Wulf\"",
            "title": "EastMemphisBoyz - Who Run It Remix (Chris Travis, Ta Double $$, Jeffery, Xavier Wulf)",
            "track_format": "single-track",
            "uri": "https://api.soundcloud.com/tracks/430754811",
            "urn": "soundcloud:tracks:430754811",
            "user_id": 14845235,
            "visuals": null,
            "waveform_url": "https://wave.sndcdn.com/PMRFQgKUwpB0_m.json",
            "display_date": "2018-04-16T23:44:40Z",
            "media": {
                "transcodings": [
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/hls",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "progressive",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/35158143-ec45-40e8-ada2-6f315d91c6b1/stream/hls",
                        "preset": "opus_0_0",
                        "duration": 235567,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/ogg; codecs=\"opus\""
                        },
                        "quality": "sq"
                    }
                ]
            },
            "station_urn": "soundcloud:system-playlists:track-stations:430754811",
            "station_permalink": "track-stations:430754811",
            "track_authorization": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJIUiIsInN1YiI6IiIsInJpZCI6IjBiNzBjZmRiLTNiMjQtNGM1Yy05ZmYxLTkyNDRkYmNkMmFiMiIsImlhdCI6MTY0MjAzOTU4NX0.MUV_Gw2dWTlp_qK9zz0RIhc0I4u6ofLXnltda8TUmX8",
            "monetization_model": "NOT_APPLICABLE",
            "policy": "ALLOW",
            "user": {
                "avatar_url": "https://i1.sndcdn.com/avatars-mLxWzWdYIXoFYUai-ciyNlA-large.jpg",
                "first_name": "Chris",
                "followers_count": 288491,
                "full_name": "Chris Travis",
                "id": 14845235,
                "kind": "user",
                "last_modified": "2022-01-07T06:03:22Z",
                "last_name": "Travis",
                "permalink": "christravis",
                "permalink_url": "https://soundcloud.com/christravis",
                "uri": "https://api.soundcloud.com/users/14845235",
                "urn": "soundcloud:users:14845235",
                "username": "ChrisTravis",
                "verified": true,
                "city": "Memphis",
                "country_code": "US",
                "badges": {
                    "pro": false,
                    "pro_unlimited": true,
                    "verified": true
                },
                "station_urn": "soundcloud:system-playlists:artist-stations:14845235",
                "station_permalink": "artist-stations:14845235"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive?client_id=atkWGyMg57QFFAwK5c9VpC1N5Q141g7I",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://cf-media.sndcdn.com/PMRFQgKUwpB0.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vUE1SRlFnS1V3cEIwLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjQyMDM5OTQwfX19XX0_&Signature=HjT246foqqsLE7HM37QIwx6aNbjVcd~N7pPJd6qIqsnZmya57tz3a71PW0QbScrS~b8DnXkJH91kPYJGDslBom7vcdSdw-1JJP1~6pKeF3A-BWHMz6nInL9aj42t4QuKJ5ANJ9sIEJC9q9hwZ-fBiKIwrRquJcv64ZNUNfORzz7BuqyiWBg1BORhwlv~ekwTIdgzn0mWsYwkD1kotLgD8JY-IQsNhwch3162LTEWUtU3DBN0TkWZhevcmYHI9uBYUdjg5rJSTvMrAtuP3qBb7~PbEDF~AsBcn294e08W13jxK7Flfi1xNxNj~-FXS4WZ4eA5YQ4WC5A1QoqM5JJZgg__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:46183",
        "method": "POST",
        "path": "/api/url/soundcloud",
        "body": {
            "id": "430754811"
        },
        "status": 200,
        "response": {
            "directUrl": [
                {
                    "url": "https://cf-media.sndcdn.com/PMRFQgKUwpB0.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vUE1SRlFnS1V3cEIwLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjQyMDM5OTQwfX19XX0_&Signature=HjT246foqqsLE7HM37QIwx6aNbjVcd~N7pPJd6qIqsnZmya57tz3a71PW0QbScrS~b8DnXkJH91kPYJGDslBom7vcdSdw-1JJP1~6pKeF3A-BWHMz6nInL9aj42t4QuKJ5ANJ9sIEJC9q9hwZ-fBiKIwrRquJcv64ZNUNfORzz7BuqyiWBg1BORhwlv~ekwTIdgzn0mWsYwkD1kotLgD8JY-IQsNhwch3162LTEWUtU3DBN0TkWZhevcmYHI9uBYUdjg5rJSTvMrAtuP3qBb7~PbEDF~AsBcn294e08W13jxK7Flfi1xNxNj~-FXS4WZ4eA5YQ4WC5A1QoqM5JJZgg__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ",
                    "mimeType": "audio/mpeg"
                }
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "674",
            "ETag",
            "W/\"2a2-1LS5C8HgHrfVIY6mV/ZiJ/BSqmY\"",
            "Thu, 13 Jan 2022 02:06:23 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]