[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/tracks/430754811?client_id=XlMFimLMnOsgUUQTvzl7p9mD52JnBQBm",
        "body": "",
        "status": 200,
        "response": {
            "artwork_url": "https://i1.sndcdn.com/artworks-000336105762-joygtm-large.jpg",
            "caption": null,
            "commentable": true,
            "comment_count": 217,
            "created_at": "2018-04-16T23:44:40Z",
            "description": "",
            "downloadable": false,
            "download_count": 0,
            "duration": 235598,
            "full_duration": 235646,
            "embeddable_by": "all",
            "genre": "East",
            "has_downloads_left": false,
            "id": 430754811,
            "kind": "track",
            "label_name": null,
            "last_modified": "2022-04-11T14:02:35Z",
            "license": "all-rights-reserved",
            "likes_count": 19165,
            "permalink": "eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "permalink_url": "https://soundcloud.com/christravis/eastmemphisboyz-who-run-it-remix-chris-travis-ta-double-idkjeffery-xavier-wulf",
            "playback_count": 926609,
            "public": true,
            "publisher_metadata": {
                "id": 430754811,
                "urn": "soundcloud:tracks:430754811",
                "contains_music": true,
                "publisher": "Copyright Control",
                "isrc": "QZ67M1902044"
            },
            "purchase_title": null,
            "purchase_url": null,
            "release_date": null,
            "reposts_count": 2153,
            "secret_token": null,
            "sharing": "public",
            "state": "finished",
            "streamable": true,
            "tag_list": "\"Water Boyz\" \"Chris Travis\" IDKJeffery \"Xavier Wulf\"",
            "title": "EastMemphisBoyz - Who Run It Remix (Chris Travis, Ta Double $$, Jeffery, Xavier Wulf)",
            "track_format": "single-track",
            "uri": "https://api.soundcloud.com/tracks/430754811",
            "urn": "soundcloud:tracks:430754811",
            "user_id": 14845235,
            "visuals": null,
            "waveform_url": "https://wave.sndcdn.com/PMRFQgKUwpB0_m.json",
            "display_date": "2018-04-16T23:44:40Z",
            "media": {
                "transcodings": [
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/hls",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive",
                        "preset": "mp3_0_1",
                        "duration": 235598,
                        "snipped": false,
                        "format": {
                            "protocol": "progressive",
                            "mime_type": "audio/mpeg"
                        },
                        "quality": "sq"
                    },
                    {
                        "url": "https://api-v2.soundcloud.com/media/soundcloud:tracks:430754811/35158143-ec45-40e8-ada2-6f315d91c6b1/stream/hls",
                        "preset": "opus_0_0",
                        "duration": 235567,
                        "snipped": false,
                        "format": {
                            "protocol": "hls",
                            "mime_type": "audio/ogg; codecs=\"opus\""
                        },
                        "quality": "sq"
                    }
                ]
            },
            "station_urn": "soundcloud:system-playlists:track-stations:430754811",
            "station_permalink": "track-stations:430754811",
            "track_authorization": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJIUiIsInN1YiI6IiIsInJpZCI6IjFkNmYwZTBmLTU5YTMtNDg0ZS05NTZlLTA2MTBmNDM1ZDRkOSIsImlhdCI6MTY5OTgyNTMzMX0.JLFaOPeZ8vzJiRCV8Lz6suIlRDjX9OlhM8_q6Fztreg",
            "monetization_model": "NOT_APPLICABLE",
            "policy": "ALLOW",
            "user": {
                "avatar_url": "https://i1.sndcdn.com/avatars-14GYz0VGbWR4HNPN-PuJdmg-large.jpg",
                "first_name": "Chris",
                "followers_count": 304574,
                "full_name": "Chris Travis",
                "id": 14845235,
                "kind": "user",
                "last_modified": "2023-08-05T01:51:48Z",
                "last_name": "Travis",
                "permalink": "christravis",
                "permalink_url": "https://soundcloud.com/christravis",
                "uri": "https://api.soundcloud.com/users/14845235",
                "urn": "soundcloud:users:14845235",
                "username": "ChrisTravis",
                "verified": true,
                "city": "Memphis",
                "country_code": "US",
                "badges": {
                    "pro": false,
                    "pro_unlimited": true,
                    "verified": true
                },
                "station_urn": "soundcloud:system-playlists:artist-stations:14845235",
                "station_permalink": "artist-stations:14845235"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/media/soundcloud:tracks:430754811/a11f3daa-02a9-4098-85bd-9c93e60c13fe/stream/progressive?client_id=XlMFimLMnOsgUUQTvzl7p9mD52JnBQBm",
        "body": "",
        "status": 200,
        "response": {
            "url": "https://cf-media.sndcdn.com/PMRFQgKUwpB0.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vUE1SRlFnS1V3cEIwLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjk5ODI1Njg3fX19XX0_&Signature=cDPpJYfkHkgcLm2dWKBXwuUUt5rZUvKVrkwFpUyHVn~tUzGvdXxhGOmYxTznhGjeRs5NdlIYYNwa6gpVoFNn-308YXydCNcfnKT0~wna5REALcZzN5rzyUxSmW1j0FOYRHBT4s4mRIpDW9s-PhvFzfWXVu5aLXgXIXE11VG6dv5HjSMvdjqFsgm0htDe9~Nx8w~mNQ-CjM8OpkCP-Mh6RfpK~2S1ZOXcKvhVVgGEqKyvatTOPWZ-bxsiREz1kYRiln4KxHmleob8aKircMgKZV1kn9NARmC3OVq5-BZlykL9WP2g135Bgj00LtJi9PUpStRfN0qGhHVtj2r1vGevKw__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:50519",
        "method": "POST",
        "path": "/api/url/soundcloud",
        "body": {
            "id": "430754811"
        },
        "status": 200,
        "response": {
            "directUrl": [
                {
                    "url": "https://cf-media.sndcdn.com/PMRFQgKUwpB0.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vUE1SRlFnS1V3cEIwLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjk5ODI1Njg3fX19XX0_&Signature=cDPpJYfkHkgcLm2dWKBXwuUUt5rZUvKVrkwFpUyHVn~tUzGvdXxhGOmYxTznhGjeRs5NdlIYYNwa6gpVoFNn-308YXydCNcfnKT0~wna5REALcZzN5rzyUxSmW1j0FOYRHBT4s4mRIpDW9s-PhvFzfWXVu5aLXgXIXE11VG6dv5HjSMvdjqFsgm0htDe9~Nx8w~mNQ-CjM8OpkCP-Mh6RfpK~2S1ZOXcKvhVVgGEqKyvatTOPWZ-bxsiREz1kYRiln4KxHmleob8aKircMgKZV1kn9NARmC3OVq5-BZlykL9WP2g135Bgj00LtJi9PUpStRfN0qGhHVtj2r1vGevKw__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ",
                    "mimeType": "audio/mpeg"
                }
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "674",
            "ETag",
            "W/\"2a2-LKIK2ou+3NReKil0AEOYFTftkTo\"",
            "Sun, 12 Nov 2023 21:42:12 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]