[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/search/queries?q=idkjeffery&limit=10&client_id=OrZoy8IshHh0YwFZmmXWC0ORwJNEKm9Z",
        "body": "",
        "status": 200,
        "response": {
            "collection": [
                {
                    "output": "idkjeffery rape rape",
                    "query": "idkjeffery rape rape"
                },
                {
                    "output": "idkjeffery dont trust jeffery",
                    "query": "idkjeffery dont trust jeffery"
                },
                {
                    "output": "idk jeffery",
                    "query": "idk jeffery"
                },
                {
                    "output": "idk jeffery lenh",
                    "query": "idk jeffery lenh"
                }
            ],
            "next_href": null,
            "query_urn": "soundcloud:search-autocomplete:fb526c159d09472499791ded710fc740"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:52939",
        "method": "POST",
        "path": "/api/suggestions/soundcloud",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery rape rape",
                "idkjeffery dont trust jeffery",
                "idk jeffery",
                "idk jeffery lenh"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "110",
            "ETag",
            "W/\"6e-l7pgzAPd8jScVQrph2w4SeE0fu8\"",
            "Mon, 01 Aug 2022 11:06:37 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]