[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/search/queries?q=idkjeffery&limit=10&client_id=DQlbwZQRhyUCF86xxboXOT0XocvYG5na",
        "body": "",
        "status": 200,
        "response": {
            "collection": [
                {
                    "output": "idkjeffery rape rape",
                    "query": "idkjeffery rape rape"
                },
                {
                    "output": "idk jeffery",
                    "query": "idk jeffery"
                }
            ],
            "next_href": null,
            "query_urn": "soundcloud:search-autocomplete:c2248622aec84653b55bdfe73160ca54"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:54278",
        "method": "POST",
        "path": "/api/suggestions/soundcloud",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": [
                "idkjeffery rape rape",
                "idk jeffery"
            ]
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "59",
            "ETag",
            "W/\"3b-1Sr+sWzVGlAjwpbW/5eZw72fAaY\"",
            "Mon, 03 Apr 2023 16:55:38 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]