[
    {
        "scope": "https://api-v2.soundcloud.com:443",
        "method": "GET",
        "path": "/search/queries?q=idkjeffery&limit=10&client_id=XlMFimLMnOsgUUQTvzl7p9mD52JnBQBm",
        "body": "",
        "status": 200,
        "response": {
            "collection": [],
            "next_href": null,
            "query_urn": "soundcloud:search-autocomplete:ad6dc89088864e87a5854f6079815f6f"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "http://127.0.0.1:50514",
        "method": "POST",
        "path": "/api/suggestions/soundcloud",
        "body": {
            "searchString": "idkjeffery"
        },
        "status": 200,
        "response": {
            "suggestionsArray": []
        },
        "rawHeaders": [
            "Express",
            "default-src 'self';script-src 'self' example.com;img-src 'self' i.ytimg.com yt3.ggpht.com yt3.googleusercontent.com hips.hearstapps.com i1.sndcdn.com;media-src 'self' *.googlevideo.com *.sndcdn.com;font-src fonts.googleapis.com fonts.gstatic.com;style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com",
            "Content-Type",
            "application/json; charset=utf-8",
            "23",
            "ETag",
            "W/\"17-kJz0fUXU7mU8fdBJIEYUYD0UPxk\"",
            "Sun, 12 Nov 2023 21:42:11 GMT",
            "close"
        ],
        "responseIsBinary": false
    }
]